.title {
  font-weight: 700;
  font-family: 'SVN Monument Extended';
}

.h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.body {
  font-weight: 300;
  font-family: 'Helvetica Neue';
}

.body-1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.body-2 {
  font-size: 1rem;
  line-height: 1.5rem;
}
