@import '../../styles/colors.scss';

.header {
  padding: 1.5rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid $grey-3;

  &-nav {
    &-list {
      display: flex;

      &-item {
        margin: 0 1.5rem;
        transition: opacity 0.5s ease;
        color: $grey-1;

        &:hover {
          opacity: 0.5;
        }

        &-selected {
          color: $black-1;
        }
      }
    }
  }

  &-links {
    display: flex;

    &-item {
      padding-left: 1.5rem;

      &-contact {
        display: flex;
        align-items: center;

        &-number {
          color: $grey-1;
          margin-left: 1rem;
        }
      }
    }
  }
}
