@import '../../styles/colors.scss';
.info-section {
  display: flex;
  min-height: 60vh;

  &-small {
    min-height: fit-content;
  }

  &-reverse {
    flex-direction: row-reverse;
  }

  &-spacer {
    flex-basis: 7rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &-col {
    flex: 1;
    position: relative;
  }

  &-title {
    margin-bottom: 1.5rem;
  }

  &-para {
    margin-bottom: 1rem;
  }

  &-cta {
    margin-top: 2rem;
  }
}
