@use 'sass:color';

$black-1: #262626;
$grey-1: #767676;
$grey-2: #acacac;
$grey-3: #dfdfdf;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);

$primary-color: $white;
$secondary-color: $black-1;

$primary-text-color-main: $black-1;
$primary-text-color-sub: $grey-1;
$secondary-text-color-main: $white;

@function opacify($color, $opacity) {
  @return rgba($color, $opacity);
}
