@import './colors.scss';

@mixin reset-button {
  outline: none;
  border: none;
  margin: 0;

  background-color: $transparent;

  transition: opacity 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    cursor: pointer;
    opacity: 0.8;
  }
}
